* {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.home_container {
    height: 100vh;
    width: 100%;
    background: white;
    overflow: hidden;
}

.images {
    justify-content: right;
    float: right;
}

.text{
    margin-top: 130px;
    margin-left: 20px;
}

.box{
    font-size: 20px;
    color: rgb(66, 37, 37);
}

.bg{
background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3Vwd2s1ODc4OTc4MS13aWtpbWVkaWEtaW1hZ2Uta29qcmU0d2UuanBn.jpg");
background-size: cover;
height: 100vh;
background-repeat: no-repeat;
background-attachment: fixed;  /* Fix the image in place */
background-position: center;   /* Center the image */
}

.text h1 {
    color: rgb(24, 24, 119);
    font-size: 60px;
    margin-bottom: 0;
    text-align: center;
}

.text p{
    margin-top: 0;
    text-align: center;
}


.icon{
    display: flex;
    margin-left: 27px;
    margin-top: 36px;
    display: inline-block;
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.icon:hover{
    cursor: pointer;
}

.icon_cap{
    margin-left: 15px;
    color: black;
    border: 5px solid;
    padding: 8px;
    border-radius: 60px;
    border-color: rgb(24, 75, 92);

}

.icon_cap, .icon {
    display: flex;
    align-items: center;
  }